.workEvent {
    > div:last-child {
        height: 0px;
        overflow: hidden;
        transition: 0.3s ease height;
    }
}

.workEvent:hover {
    > div:last-child {
        height: 100px;
        overflow-y: scroll;
    }
}

.workEventEntry {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
