DATABASE_URL=

# Microsoft authentication
MICROSOFT_ENABLED=false
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
# callback url is ${MICROSOFT_CALLBACK_DOMAIN}/api/auth/microsoft/callback
MICROSOFT_CALLBACK_DOMAIN=http://localhost:3000
