DATABASE_URL=
APP_PORT=3000
APP_URL=http://localhost:3000
TZ=
END_OF_DAY_OFFSET=0 # Time in minutes 0 for 00:00, 60 for 01:00, 120 for 02:00, -60 for 23:00, etc. values -720 to 720 are valid, values outside this range will be set to 0

# Microsoft authentication
# callback url is ${APP_URL OR DEV_BACKEND_URL}/api/auth/microsoft/callback
MICROSOFT_ENABLED=false
MICROSOFT_LOGIN_LABEL=Login with Microsoft
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common

# Google authentication
GOOGLE_ENABLED=false
GOOGLE_LOGIN_LABEL=Login with Google

# Development settings
DEV=true

DEV_DATABASE_URL=

DEV_BACKEND_PORT=3000
DEV_BACKEND_URL=http://localhost:3000

DEV_FRONTEND_PORT=3001
DEV_FRONTEND_URL=http://localhost:3001