.authWrapper {
    width: 350px;
    h1 {
        text-align: center;
    }
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > div[role='alert'] {
        text-align: center;
        margin: 0;
    }

    > form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
