.paginationWrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.pagination {
    li {
        width: 40px;
        text-align: center;
    }
}
